<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Gender</th>
  </tr>
  </thead>
  <tr *ngIf="user">
    <td [className]="'user-id'">{{user.id}}</td>
    <td [className]="'user-first-name'">{{user.firstName}}</td>
    <td [className]="'user-last-name'">{{user.lastName}}</td>
    <td [className]="'user-gender'">{{user.gender | gender }}</td>
  </tr>
</table>
